body {
  background-color: rgba(7, 7, 7, 0.541);
  background-image: url(sky.jpeg);
  background-size: cover;
  background-repeat: none;
  font-family: "Roboto", sans-serif;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 20px;
  opacity: 0.8;
}

h1 {
  text-align: center;
}

.container {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  width: 500px;
  margin: 100px auto;
  padding: 25px;
  box-shadow: 10px 20px 20px rgb(112, 103, 112);
}
.city-input-form {
  font-size: 15px;
  padding: 10px;
  width: 95%;
  display: block;
  margin: 20px auto;
  margin-bottom: 50px;
  border: none;
  border-radius: 10px;
  color: rgb(147, 56, 231);
  background: rgba(255, 255, 255, 0.5);
}
.city-element {
  padding: 15px 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  margin: 10px;
}
.new-city-element {
  padding: 35px 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  margin: 10px;
}
.city {
  margin-bottom: 10px;
  font-size: 20px;
  opacity: 0.6;
}
.newCity {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bolder;
  opacity: 0.7;
}
.time {
  font-size: 40px;
  font-weight: 400;
}
.time small {
  font-size: 20px;
}

.date {
  font-size: 15px;
  opacity: 0.5;
}
.time-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.homePage {
  display: block;
  font-size: 15px;
  font-weight: 700;
  color: rgb(147, 56, 231);
  text-align: center;
}
